{% load i18n %}{% autoescape off %}
{% blocktranslate  %}Youre receiving this email because you requested a password reset for your account{% endblocktranslate %}

{% translate "please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case youve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Issuez Team{% endblocktranslate %}

{% endautoescape %}