{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>Welcome to <b>Issuez</b>, an issues management system for software teams by software teams.</p>
<p>Here youll be able to collaborate with others by:</p>
<ul>
    <li>Creating new issues and asognemt to teams member.</li>
    <li>Viewing existing issues assigned to your team</li>
    <li>updating existing issues</li>
    <li>Deleting issues as needed.</li>
    <li>Viewing a list of issues(on a borad) assigned to your team </li>
</ul>
{% endblock content %}